# Lab | Inferential statistics - T-test & P-value

1. One-tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on average than the machine currently used. To test that hypothesis, the times each machine takes to pack ten cartons are recorded. The results are in seconds in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t-test, does the data provide sufficient evidence to show if one machine is better than the other?

In [1]:
import numpy as np
import pandas as pd

In [6]:
machine_data = pd.read_csv('files_for_lab/machine.txt', sep='\t', encoding='UTF16')
machine_data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [7]:
# H0: avg time for new machine < avg time for old machine

# Ha: avg time for new machine > avg time for old machine

# Population: old machine
# Sample: new machine

In [26]:
# Sample mean

sample_mean = machine_data['Newmachine'].mean()
sample_mean

42.14

In [20]:
print(machine_data.columns)

Index(['New machine', '    Old machine'], dtype='object')

In [24]:
# Remove leading and trailing spaces from the specified column

machine_data.rename(columns=lambda x: x.replace('_', ''), inplace=True)
print(machine_data.columns)

Index(['Newmachine', 'Oldmachine'], dtype='object')

In [27]:
# Population mean

pop_mean = machine_data['Oldmachine'].mean()
pop_mean

43.230000000000004

In [31]:
# Let's calculate the t_statistic and the p_value

from scipy.stats import ttest_1samp

t_statistic, p_value = ttest_1samp(machine_data['Newmachine'], pop_mean, alternative = "greater")
print("T-statistic is: {:.2f} and the p-value is: {:.2f}".format(t_statistic, p_value))

T-statistic is: -5.04 and the p-value is: 1.00

In [33]:
# The p_value is bigger than the significance level (alpha = 0,05). Therefore, we accept the null hypothesis (the new machine will pack
# faster than the old machine)

2. Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment on your result.

In [34]:
# H0: defense and attack scores ARE EQUAL
# Ha: defense and attack scores ARE NOT EQUAL

In [35]:
pokemon_data = pd.read_csv('pokemon.csv')
pokemon_data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [42]:
import scipy.stats as st

t_statistic, p_value = st.ttest_rel(pokemon_data['Attack'], pokemon_data['Defense'])
print("T-statistic is: {:.2f} and the p-value is: {:.2f}".format(t_statistic, p_value))

T-statistic is: 4.33 and the p-value is: 0.00

In [43]:
# The p_value is smaller than the significance level (alpha = 0,05). Therefore, we reject the null hypothesis and we
# can say that the defense and attack scores ARE NOT EQUAL

3. In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on: - Null hypothesis - Alternate hypothesis - Level of significance - Test statistic - P-value - F table

Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of the model, error terms, and total DoF

Data was collected randomly and provided to you in the table as shown: link to the image - Data

In [51]:
# Read data

per_data = pd.read_excel('anova_lab_data.xlsx')
per_data

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [55]:
print(per_data.columns)

Index(['Power ', 'Etching Rate'], dtype='object')

In [63]:
# Group by same power in order to get the mean etching rate per power + the amount of samples per power

grouped_per_data = per_data.groupby('Power ')['Etching Rate'].agg(Etching_mean='mean',Samples='size')
grouped_per_data

# H0: There's NO difference in the mean etching rate for different levels of power
# (mean etching rate 160W = 180W = 200W)
# Ha: There's significant difference in the mean etching rate for different levels of power
# (mean etching rate 160W != 180W != 200W or not all of them equal)

# Significance level: 0.05

        Etching_mean  Samples
Power
160 W          5.792        5
180 W          6.238        5
200 W          8.318        5

In [68]:
# SST computes the variance of the group means from the global mean

S2t = 0
for power in per_data['Power '].unique():
    ng = len(per_data[per_data['Power '] == power])
    S2t  += ng * ( ( per_data[per_data['Power '] == power]['Etching Rate'].mean() - per_data['Etching Rate'].mean() ) ** 2)
S2t /= ( per_data['Power '].nunique() - 1 ) # Number of  K = groups/cities

# SSE computes the variance of the values against the global mean

S2E = 0
for power in per_data['Power '].unique():
    for rate in per_data[per_data['Power '] == power]['Etching Rate']:
        S2E += ( rate - per_data[per_data['Power '] == power]['Etching Rate'].mean() ) ** 2
S2E /= ( len(per_data) - per_data['Power '].nunique() )

print("The value of SST is {:.2f}".format(S2t))
print("The value of SSE is {:.2f}".format(S2E))

The value of SST is 9.09
The value of SSE is 0.25

In [69]:
# Calculate value of F distribution

F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 36.88

In [71]:
# Calculating the degrees of freedom

d1 = per_data['Power '].nunique() - 1 # K -1 >>> K = the number of groups
d2 = len(per_data) - per_data['Power '].nunique() # N - K >>> N = number of observations

print("Number of degrees of freedom d1: ",d1)
print("Number of degrees of freedom d2: ",d2)

Number of degrees of freedom d1:  2
Number of degrees of freedom d2:  12

4. In this section, use Python to conduct ANOVA.
What conclusions can you draw from the experiment and why?

In [74]:
print(st.f_oneway(per_data[per_data['Power '] == '160 W']['Etching Rate'],per_data[per_data['Power '] == '180 W']['Etching Rate'],
                  per_data[per_data['Power '] == '200 W']['Etching Rate']))

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [75]:
# The p_value is smaller than the significance level. Therefore, we reject the null hypothesis and we can say that there's
# significant difference in the mean etching rate for different levels of power